<%- include('partials/header.html') %>


<div class="session-cblol">
    <div class="title-tabela-cblol">
        <h2><span style="color:white;" > Tabela Academy</span></h2>
            <br><br>
                <div class="center">
                    <div class="box-tabela-cblol">
                       
                        <div class="tabela-cblol">
                        <img src="/public/images/tabela-cblol-academy.png"/>
                       
                    
                    
                    
                    
                    </div>
        </div>
    </div>
    </div>
</div>



<%- include('partials/footer.html') %>

</body>
</html>