<%- include('partials/header.html') %>

<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= noticia.titulo %></h2>
            <div class="autor-nome">
                <span>Por <%= noticia.autor %></span>
            </div>
            <br/>
            <div><img style="max-width: 100%;" src="<%- noticia.imagem %>" /></div>
            <br/>
           <h4> <%- noticia.conteudo %></h4>

            <div class="conteudo-yuumi">
            <h4> <%- noticia.conteudoyuumi1 %></h4>      
            </div>



           <iframe width="560" height="370" src="<%- noticia.video %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

           <div class="imagem-skarner">
            <img style="max-width: 100%;margin-top: -430px;" src="<%- noticia.imagemskarner %>" />
        
        </div>

           <div class="Noticia-Yuumi">

                <div class="noticia-single-yum-titulo">
                    <h2><%- noticia.conteudoyuumititulo %></h2>
                </div>

            <div class="noticia-single-yum-passiva">
                <img style="max-width: 10%;margin-top: 10px;" src="<%- noticia.imagemyuumipassiva %>" />
                <h5><%- noticia.conteudoyuumipassiva %></h5>
            </div>

            <div class="noticia-single-yum-q">
                <img style="max-width: 10%;margin-top: 35px;" src="<%- noticia.imagemyuumiq %>" />
                <h5><%- noticia.conteudoyuumiq %></h5>
            </div>

            <div class="noticia-single-yum-w">
                <img style="max-width: 10%;margin-top: 35px;" src="<%- noticia.imagemyuumiw %>" />
                <h5><%- noticia.conteudoyuumiw %></h5>
            </div>

            <div class="noticia-single-yum-e">
                <img style="max-width: 10%;margin-top: 30px;" src="<%- noticia.imagemyuumie %>" />
                <h5><%- noticia.conteudoyuumie %></h5>
            </div>

            <div class="noticia-single-yum-r">
                <img style="max-width: 10%;margin-top: 35px;" src="<%- noticia.imagemyuumir %>" />
                <h5><%- noticia.conteudoyuumir %></h5>
            </div>

            <div class="noticia-single-yuumi" >
                <h4><a href="milio-lol-br"> <%- noticia.conteudoyuumi2 %></h4></a>
                 </div>

             
            </div>


           <div class="Noticia-Milio" >

            <div class="noticia-single-milio-2">
                <h4><%- noticia.conteudo2 %></h4>
             </div>

            <div><img style="max-width: 10%;margin-top: 10px;" src="<%- noticia.imagem2 %>" /></div>
            <div class="noticia-single-passiva">
                <h5><%- noticia.conteudo3 %></h5>
           </div>

           <div><img style="max-width: 10%;margin-top: 25px;" src="<%- noticia.imagem3 %>" /></div>
           <div class="noticia-single-q">
            <h5><%- noticia.conteudo4 %></h5>
         </div>

            <div><img style="max-width: 10%;margin-top: 25px;" src="<%- noticia.imagem4 %>" /></div>
            <div class="noticia-single-w">
                 <h5><%- noticia.conteudo5 %></h5>
                
         </div>

         <div><img style="max-width: 10%;margin-top: 25px;" src="<%- noticia.imagem5 %>" /></div>
         <div class="noticia-single-e">
              <h5><%- noticia.conteudo6 %></h5>
      </div>

      <div><img style="max-width: 10%;margin-top: 45px;" src="<%- noticia.imagem6 %>" /></div>
      <div class="noticia-single-r">
           <h5><%- noticia.conteudo7 %></h5>
   </div class="noticia-single-milio" >

   <div class="noticia-single-milio" >
   <h4> <%- noticia.conteudo8 %></h4>
    </div>




    
</div>

   <div><img style="max-width: 100%;margin-top: 20px;" src="<%- noticia.imagem7 %>" /></div>

    


        </div>
        <div class="mais-lidas">
            <h3>Mais lidas</h3>
            <div class="mais-lidas-noticias">
                <% for(let i = 0; i < postsTop.length; i++) { %>
                <div class="mais-lidas-noticias-single">
                    <img src="<%= postsTop[i].imagem %>" />
                    <div class="texto-mais-lida-single">
                        <h4><%= postsTop[i].titulo %></h4>
                        <p><%- postsTop[i].descricaoCurta %>... - <span style="font-size: 12px;font-weight: bold;">(<%= postsTop[i].views %> views)</span></p>
                        <a href="<%= postsTop[i].slug %>">Saiba Mais</a>   
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

</section>

<%- include('partials/footer.html') %>

</body>
</html>